<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p>My Classes: </p>
    <p>Research on WiFi RSSI with Tony Dear</p>
    <p>Python 1006</p>
    <p>Embedded Systems</p>
    <p>Methods in Philosophy</p>
    <p>PE: Strength training</p>
    <p>Physics Lab</p>
    <p>My favorite class was Research with Tony Dear, since I did the project from scratch throughout the year, learnt a lot, and I am on my way to submitting the paper to a journal</p>
    </body>
</html>

